/* global rest/setup styles */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } 

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
.App {
  text-align: center;
}
html{
  font-size: 62.5%;
  background: #fcfcfc;
}

body { 
  font-size: 1.8rem;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

/* HEADER STYLE START */
header {
  background: #ebf8e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerUser{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
  width: 50%;
}
header .buttons {
  width: 50%;
}
.userImage {
  width: 25%;
}
.userImage img {
  border-radius: 50%;
  border: 2px solid #00702e;
}
header h1 {
  text-transform: uppercase;
  display: flex;
  padding-left: 50px;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: 1px;
  color: #3e3e3e;
}
h2 {
  text-transform: capitalize;
}

header button {
  background: #00702e;
  color: #ebf8e7;
  font-weight: bold;
  margin: 0 30px;
  width: 75%;
}
/* HEADER STYLE ENDS */

/* //SEARCH LIST STYLES */
.routerDaddy{
  padding-top: 25px;
}
.dropDaddy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 55%;
  /* height: 100vh; */

}
.dropDaddy form {
  padding-top: 100px;
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.dropdown {
  align-self: center;
  width: 225px;
  max-height: 300px;
  overflow-y: auto;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 0px 3px grey;
}
.mainSearch{
  display: flex;
  justify-content:  space-evenly;
  position: relative;
}

.mainSearchImg {
  width: 40%;
}
.mainSearch img {
  width: 75%;
}
.mainSearch input {
  border-radius: 50px;
  border-style: none;
  border: 2px solid #00702e;
  width: 300px;
  height: 50px;
  padding: 25px;
  text-align: center;
}
input:placeholder-shown{
  font-style: italic;
  color: black;
}
.mainSearch  input[type='submit']{
  margin-top: 20px;
  border-radius: 0px;
  background: #00702e;
  color: #ebf8e7;
  font-weight: bold;
  width: 200px;
}
.dropdown:active{
  border: 1px solid darkblue;
}
.dropdown-item {
  border-bottom: 1px solid rgb(184, 184, 184);
  padding: 10px 5px;
}
.searchResults{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  margin: 10px 0;
  box-shadow: 0px 0px 3px grey;
}
.searchResults p {
  width: 60%;
  padding-left:
}
.searchResults img {
  width: 100px;
  padding-right: 20px;
}
/* END OF SEARCH LIST */


/* //DASHBOARD STYLES */
.PieApp {
  height: 500px;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard button {
  border-radius: 50px;
  border: 2px solid #00702e;
  text-align: center;
}

.LineApp {
  height: 500px;
  background: #f4f4f4;
}
.dashboard {
  border:2px solid black;
}
.dashboardAnon {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.4rem;
}
.goalsForm img {
  width: 20%;
  margin: 0 auto;
}
.buttonBoxGallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

/* //Pie chart styles */
.placeHolderStuff {
  color: #00702e;
  font-size: 1rem;
}
.placeHolderStuff img {
  width: 30%;
}
/* //END OF DASHBOARD STYLES */


/* Button Styling */
button, input[type='submit'] {
    display: inline-block;
    border: none;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    background: white;
    color: black;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:focus,
input[type='submit']:focus {
  
}

/* //RANDOM TIP STYLES */
.nextTip,
.tweet {
background-color: rgb(16,135,209);color: white;
  border: 1px solid white;
 border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    outline: inherit;
}
/* END OF RANDOM TIP STYLES */


/* //MEDIA QUERIES */
@media only screen and (max-width: 650px) {
  /* //HEADER MOBILE */
  .profilePic {
    display: none;
  }
  .headerUser {
    padding-right: 5px;
  }
  header .buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .buttons button {
    margin-bottom: 5px;
    font-size: 1
  }
  header h1 {
    padding-left: 10px;
  }
  /* DROPDOWN MOBILE */
  .searchResults{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-aro;
    padding: 10px 10px;
  }
  .mainSearch{
    flex-direction: column;
  }
  .mainSearchImg{
    width: 100%;
  }
  .mainSearchImg img {
    width: 200px;
  }
  .dropDaddy {
    width: 100%;
  }
  .dropDaddy form {
    padding-top: 50px;
  }
  .searchResults p {
    width: 100%;
  }
}